
<!DOCTYPE html>
<html>
  <head>
    <title>Reference Service</title>

	<!--link rel="stylesheet" href="/external/bower/bootstrap/dist/css/bootstrap.css"-->

    <!-- TODO <script src="/js/liquid/dependencies/sails.io.js"></script>-->
	<link rel="stylesheet" href="/external/font-awsome/css/font-awesome.min.css">

	<!-- Liquid scripts -->
    <!--script src="/external/react/react.js"></script-->
    <script src="/external/react-0.14.7/build/react.js"></script>
    <script src="/external/react-0.14.7/build/react-with-addons.js"></script>
    <script src="/external/react-0.14.7/build/react-dom.js"></script>
    <!--script src="/external/babel-core/browser.min.js"></script-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>-->
    <script src="/external/babel/browser.min.js"></script>
    <script src="/external/socket.io-client/socket.io.js"></script>
    <script src="/js/liquid/liquidUtility.js"></script>
    <script src="/js/liquid/liquidCommon.js"></script>
    <script src="/js/liquid/liquidEntity.js"></script>
    <script src="/js/liquid/liquidSelection.js"></script>
    <script src="/js/liquid/liquidRepetition.js"></script>
    <script src="/js/liquid/liquidClient.js"></script>
	<script src="/js/liquid/liquidReact.js"></script>

	<!-- Application scripts -->
    <script src="/js/liquid_application/referenceService.js"></script>
	<script type="text/babel" src="/js/liquid_application/reactComponents.jsx"></script>
	
	<!-- Initialize & setup data and socket io -->
	<script>liquid.initialize();</script>
	<script>var data = <%- data %>; console.log(data); </script>
    <script src="/js/liquid/setupData.js"></script>
    <script src="/js/liquid/setupSocketIo.js"></script>

	<!-- Render page -->
	<script>console.log("");console.log("=== Render page: ===");</script>
	<script type="text/babel" src="/js/liquid/renderPage.js"></script> 

	<!-- Custom script (mostly for debugging and trying out stuff) -->
    <!-- script src="/js/liquid/script.js"></script-->
  </head>

  <body>
	<div id = "ReactRootDiv">
	</div>
  </body>
</html>
